.yf-action-submit {
  min-height: 100%;
  padding: 30px 15px;
}

.yf-action-submit-textarea {
  border: 1px solid $yf-light-gray !important;
  border-bottom: 0 !important;
  padding: 10px 15px !important;
}

.yf-action-submit-image {
  height: 100px;
  border: 1px solid $yf-default;
}
