.yf-feedback-stage-0-header {
  padding-bottom: 0;
}

.yf-feedback-stage-0-body {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.yf-feedback-stage-1-body {
  text-align: center;
  padding-top: 60;
  padding-bottom: 60px;
}

.yf-feedback-textarea {
  border: 1px solid $yf-light-gray !important;
  border-bottom: 0 !important;
  padding: 10px 15px !important;
}

.yf-feedback-stage-2-header {
  padding-bottom: 0;
}

.yf-feedback-stage-2-body {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
