.yf-home {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yf-home-selection {
  margin-bottom: 125px;
}

.yf-home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.yf-home-logo-image {
  height: 100px;
}

.yf-home-logo-title {
  font-size: 2.5em;
}

.yf-home-selection {
  width: 80%;
  text-align: center;
}

.yf-home-form-title {
  color: $yf-primary;
}

.yf-home-pro {
  @include breakpoint($max-mobile) {
    margin-top: 15px;
  }
}
