.yf-login {
  display: flex;
  background: $yf-primary;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.yf-login-card {
  width: 30%;

  @include breakpoint($max-tablet) {
    width: 60%;
  }

  @include breakpoint($max-mobile) {
    width: 80%;
  }
}

.yf-login-card-heading {
  padding-top: 15px;
  padding-bottom: 0;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 2.5em;
}

.yf-login-other-links {
  margin-top: 15px;
}
