.yf-search {
  min-height: 100%;
}

.yf-search-image {
  height: 100px;
  border: 1px solid $yf-default;
}

.yf-search-empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.yf-search-results {
  padding: 30px 15px;
}

.yf-search-results-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.yf-search-results-header-title {
  margin-top: 0;
  margin-bottom: 0;
}

.yf-search-result {
  padding-top: 15px;
  padding-bottom: 15px;
}
