.yf-video-card-body {
  padding: 0;
}

.yf-video-card-thumbnail {
  height: 150px;
  background-position: center center;
  background-size: cover;
}

.yf-video-card-content {
  padding: 15px 10px;
}

.yf-video-card-title {
  font-weight: 600;
  font-size: 1.2em;
}

.yf-video-card-host {
  font-weight: 300;
}

.yf-search-result-date {

}

.yf-search-result-views {

}
