html, body, #app {
  height: 100%;
  font-family: 'Circular', 'Helvetica', 'Arial', sans-serif;
  color: $yf-default;
}

h1, h2, h3, h4, h5 {
  color: $yf-default;
}

// Button
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
  outline: 0;
}

.btn-no-transform {
  text-transform: none;
}

.btn-link-primary,
.btn-link-primary:hover
.btn-link-primary:focus {
  color: $yf-primary !important;
}
